{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RentShare{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    {% if user.is_authenticated %}
    <header class="navbar">
        <nav class="navbar-content">
            <div class="navbar-left">
                <a href="#">
                    <img class="navbar-logo" src="https://img.icons8.com/?size=100&id=59809&format=png&color=8A5CF6" alt="navbar-logo" />
                </a>
            </div>
            <div class="navbar-links">
                <a href="#" class="nav-link active">Home</a>
                <a href="#">Balance</a>
                <a href="#">Transfer</a>
                <a href="#">Settings</a>
            </div>

            <div class="navbar-actions">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-icon-btn" title="Logout">
                        <img src="https://img.icons8.com/ios-glyphs/30/000000/logout-rounded-left.png" alt="Logout" />
                    </button>
                </form>
            </div>
        </nav>
    </header>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
